# Babel compiled files #
########################
server/lib/*

# VS Code files #
#################
.vs/*

# Linting files #
#################
server/coverage/*
server/.sonarlint/*

# Node modules #
################
server/node_modules/*
client/node_modules/*

# Firebase #
############
diningv2-4a304-firebase-adminsdk-v1tzp-e47819434d*

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Front end files #
###################
node_modules/
npm-debug.*
.expo/
*.jks
*.p12
*.key
*.mobileprovision
